/* MOBILE DEVICES  */
@media (min-width:320px) and (max-width:480px) {
    .wrapper h1 {
        font-size: 158%;
    }

    .maindiv {
        min-width: 0px;
        width: 291px;
        height: 85px;
        margin-bottom: 25px;
    }

    .wrapper {
        margin: 8px auto;
    }

    section.all-sliders {
        flex-direction: column;
        align-items: center;
    }

    .slidecontainer {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    label>span {
        width: 50px;
    }

    .wrapper-outer {
        width: 80%;
        padding-bottom: 26px;
        margin-top: 0;
    }

    canvas {
        transform: translate(30px, 45px) !important;
    }

    .body-pt {
        padding-top: 20px;
    }
}

@media (min-width:320px) and (max-width:363px) {
    canvas {
        transform: translate(15%, 44%) !important
    }
}

/* TABLET DEVICES  */
@media (min-width:481px) and (max-width:768px) {
    .body-pt {
        padding-top: 20px;
    }

    .maindiv {
        min-width: 80%;
        height: 127px;
        display: flex;
    }

    section.all-sliders {
        flex-direction: column;
        padding-left: 6rem;
    }

    .wrapper h1 {
        font-size: 37px;
    }

    .wrapper-outer {
        width: 79%;
        margin-top: 22px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    canvas {
        transform: translate(0px, -16px) !important;
    }

    .wrapper-outer {
        width: 50%;
    }

    section.all-sliders {
        padding-left: 20%;
    }
}

@media (min-width:400px) and (max-width:500px) {
    .wrapper-outer {
        width: 80%;
    }
}

@media (min-width:500px) and (max-width:600px) {
    .wrapper-outer {
        width: 70%;
    }
}

/* LAPTOP DEVICES  */
@media (min-width:769px) and (max-width:1023px) {
    .wrapper h1 {
        font-size: 50px;
    }

    .maindiv {
        height: 187px;
        margin-top: 20px;
        display: flex;
    }

    .wrapper {
        margin: 0;
    }

    section.all-sliders {
        margin-right: 40px;
    }

    .wrapper-outer {
        width: 90%;
        height: 250px;
        display: flex;
        justify-content: center;
    }

    canvas {
        transform: translate(0px, -16px) !important;
    }
}

/* DESKTOP DEVICES  */
@media (min-width:1024px) and (max-width:1200px) {
    .wrapper-outer {
        width: 90%;
    }

    .wrapper h1 {
        font-size: 50px;
    }

    .maindiv {
        height: 187px;
        margin-top: 20px;
        display: flex;
    }

    canvas {
        transform: translate(0px, -16px) !important;
    }
}

@media (min-width:1114px) {
    canvas {
        transform: translate(-200px, 8px) !important;
    }
}

/* TV/EXTRA LARGE DEVICES  */
@media (min-width:1201px) {
    .maindiv {
        width: 95%;
        height: 184px;
        margin-top: 30px;
    }

    .wrapper-outer {
        width: 93%;
    }
}