html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
}

.maindiv {
    height: 250px;
    min-width: 700px;
    width: 60%;
    margin: auto;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.wrapper h1 {
    font-size: 400%;
    color: rgba(225, 225, 0, 0.01);
    background-image: url("../Images/bg-image.jpeg");
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

.wrapper h2 {
    font-family: 'Courier New', Courier, monospace;
}


@keyframes animate {

    0%,
    100% {
        background-position: left top;
    }

    25% {
        background-position: right bottom;
    }

    50% {
        background-position: left bottom;
    }

    75% {
        background-position: right top;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sliders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

label {
    margin-right: 10px;
}

input[type="range"] {
    width: 200px;
}

@media screen and (max-height: 350px) {

    label {
        margin-top: 0 !important;
    }

}